@font-face {
  font-family: "Avenir Next";
  src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
}

body {
  font-family: "Avenir Next";
  color: #2b546a;
  position: relative;
}

h2{
  font-weight: bold;
}
.jumbotron {
  padding-top: 6rem;
  /* background-color: #d4dddd; */
}
#projects {
  /* background-color: #d4dddd; */
  background-color: #2b546a;
}

#projects h2{
  color: #ffffff;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#navbar{
  background-color: rgb(42, 42, 135) !important;
}

ul.custom-list {
  list-style: none; /* Remove default bullets */
}

#skills ul.custom-list {
  /* column-count: 3; */
}

ul.custom-list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff4a4a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

footer {
  padding-top: 3rem;
}

#navbarNav .navbar-nav li > a {
	text-transform: capitalize;
	transition: background-color .2s, color .2s;
}

#navbarNav .navbar-nav li.active > a {
	text-transform: uppercase;
}